# Berkeley Data Science: Introduction to Data Science


### Table of Contents
<a href='#section 0'>Welcome to Jupyter Notebooks!</a>

1.  <a href='#section 1'>The Python Programming Language</a>
2. <a href='#section 2'>Tables and Plots</a>

## The Jupyter  Notebook <a id='section 0'></a>

Welcome to the Jupyter Notebook! **Notebooks** are documents that can contain text, code, visualizations, and more. 

A notebook is composed of rectangular sections called **cells**. There are 2 kinds of cells: markdown and code. A **markdown cell**, such as this one, contains text. A **code cell** contains code in Python, a programming language that we will be using for the remainder of this module. You can select any cell by clicking it once. After a cell is selected, you can navigate the notebook using the up and down arrow keys.

To run a code cell once it's been selected, 
- press Shift-Enter, or
- click the Run button in the toolbar at the top of the screen. 

If a code cell is running, you will see an asterisk (\*) appear in the square brackets to the left of the cell. Once the cell has finished running, a number will replace the asterisk and any output from the code will appear under the cell.

In [ ]:
# run this cell
print("Hello World!")

You'll notice that many code cells contain lines of blue text that start with a `#`. These are *comments*. Comments often contain helpful information about what the code does or what you are supposed to do in the cell. The leading `#` tells the computer to ignore them.

#### Editing

You can edit a Markdown cell by clicking it twice. Text in Markdown cells is written in [**Markdown**](https://daringfireball.net/projects/markdown/), a formatting syntax for plain text, so you may see some funky symbols when you edit a text cell. 

Once you've made your changes, you can exit text editing mode by running the cell. Edit the next cell to fix the misspelling.

Hllo!

Code cells can be edited any time after they are highlighted. Try editing the next code cell to print your name.

In [ ]:
# edit the code to print your name
print("Hello: my name is NAME")

#### Adding and Deleting Cells 

Some times you might need to add cells to do some scratch work before arriving to your final solution. You can add **cells** to by pressing the plus sign icon in the menu bar. This will add a **code cell** below your current cell.

To convert this new cell to a **markdown cell**, press Cell on the menu bar, then select Cell Type, and finally pick the desired option. 

To delete a cell press the scissors icon on the menu bar.

#### Saving and Loading

Your notebook can record all of your text and code edits, as well as any graphs you generate or calculations you make. You can save the notebook in its current state by clicking Control-S, clicking the floppy disc icon in the toolbar at the top of the page, or by going to the File menu and selecting "Save and Checkpoint".

The next time you open the notebook, it will look the same as when you last saved it.

**Note:** after loading a notebook you will see all the outputs (graphs, computations, etc) from your last session, but you won't be able to use any variables you assigned or functions you defined. You can get the functions and variables back by re-running the cells where they were defined- the easiest way is to highlight the cell where you left off work, then go to the Cell menu at the top of the screen and click "Run all above". You can also use this menu to run all cells in the notebook by clicking "Run all".

Before we begin, we'll need a few extra tools to conduct our analysis. Run the next cell to load some code packages that we'll use later. 

Note: this cell MUST be run in order for most of the rest of the notebook to work.

In [ ]:
# dependencies: THIS CELL MUST BE RUN
from datascience import *
import numpy as np
import math
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import ipywidgets as widgets
%matplotlib inline

# 1. Python <a id='section 1'></a>

**Python** is  programming language- a way for us to communicate with the computer and give it instructions. 

Just like any language, Python has a *vocabulary* made up of words it can understand, and a *syntax* giving the rules for how to structure communication.

#### Errors <a id="subsection error"></a>

Python is a language, and like natural human languages, it has rules. Whenver you write faulty code, you might break some of these rules which will prompt error messages. 
Errors are *normal*; experienced programmers make many errors every day. An error is nothing more than a message from the computer saying it doesn't understand you and asking you to rewrite your command.

We have made an error in the next cell.  Run it and see what happens.

In [ ]:
print("This line is missing something."

The last line of the error output attempts to tell you what went wrong. This is very useful information that can help us fix the mistake that is prompting the error.


### 1a. Data <a id='subsection 1a'></a>
**Data** is information- the "stuff" we manipulate to make and test hypotheses. 

Almost all data you will work with broadly falls into two types: numbers and text. *Numerical data* shows up green in code cells and can be positive, negative, or include a decimal.

In [ ]:
# Numerical data

4

87623000983

-667

3.14159

Text data (also called *strings*) shows up red in code cells. Strings are enclosed in double or single quotes. Note that numbers can appear in strings.

In [ ]:
# Strings
"a"

"Hi there!"

"We hold these truths to be self-evident that all men are created equal."

# this is a string, NOT numerical data
"3.14159"

### 1a. Expressions <a id='subsection 1a'></a>

A bit of communication in Python is called an **expression**. It tells the computer what to do with the data we give it.

Here's an example of an expression.

In [ ]:
# an expression
14 + 22


When you run the cell, the computer **evaluates** the expression and prints the result. Note that only the last line in a code cell will be printed, unless you explicitly tell the computer you want to print the result.

In [ ]:
# more expressions. what gets printed and what doesn't?
100 / 10

print(4.3 + 10.98)

33 - 9 * (40000 + 1)

884

Many basic arithmetic operations are built in to Python, like `*` (multiplication), `+` (addition), `-` (subtraction), and `/` (division). There are many others, which you can find information about [here](http://www.inferentialthinking.com/chapters/03/1/expressions.html). 

The computer evaluates arithmetic according to the PEMDAS order of operations (just like you probably learned in middle school): anything in parentheses is done first, followed by exponents, then multiplication and division, and finally addition and subtraction.

In [ ]:
# before you run this cell, can you say what it should print?
4 - 2 * (1 + 6 / 3)

### 1b. Names <a id='subsection 1b'></a>
Sometimes, the values you work with can get cumbersome- maybe the expression that gives the value is very complicated, or maybe the value itself is long. In these cases it's useful to give the value a **name**.

We can name values using what's called an *assignment* statement.

In [ ]:
# assigns 50 to x
x = 50
x

The assignment statement has three parts. On the left is the *name* (`x`). On the right is the *value* (442). The *equals sign* in the middle tells the computer to assign the value to the name.

You'll notice that when you run the cell with the assignment, it doesn't print anything. But, if we try to access `x` again in the future, it will have the value we assigned it.

In [ ]:
# print the value of x
x

You can also assign names to expressions. The computer will compute the expression and assign the name to the result of the computation.

In [ ]:
y = 50 * 2 + 1
y

In [ ]:
y = x * 2 + 1
y

We can then use these name as if they were numbers.

In [ ]:
x - 42

In [ ]:
x + y

### 1c. Functions <a id='subsection 1c'></a>
We've seen that values can have names (often called **variables**), but operations may also have names. A named operation is called a **function**. Python has some functions built into it.

In [ ]:
# a built-in function 
abs(-3)

Functions get used in *call expressions*, where a function is named and given values to operate on inside a set of parentheses. The `abs` function returns the absolute value of a number.

In [ ]:
# a call expression using round
round(2018.74699)

A function may also be called on more than one value (called *arguments*). For instance, the `min` function takes however many arguments you'd like and returns the smallest. Multiple arguments are separated by commas.

In [ ]:
min(9, -34, 0, 99)

## 2. Tables and Plots<a id='section 2'></a>

The last section covered four basic concepts of python: data, expressions, names, and functions. In this next section, we'll see just how much we can do to examine and manipulate our data with only these minimal Python skills.

**Tables** are fundamental ways of organizing and displaying data. We will be working with the `actors` table. Here is a description of the table. Look over it, then run the next cell to load the data.

The table `actors` contains data on Hollywood actors, both male and female. The columns are:

| ** Column **        | Contents |
|---------------------|----------|
|`Actor`              | Name of actor |
|`Total Gross`        | Total gross domestic box office receipt, in millions of dollars, of all of the actor's movies |
| `Number of Movies`  | The number of movies the actor has been in |
| `Average per Movie` | Total gross divided by number of movies |
| `#1 Movie`          | The highest grossing movie the actor has been in |
| `Gross`             | Gross domestic box office receipt, in millions of dollars, of the actor's `#1 Movie` |

In [ ]:
actors = Table.read_table("actors.csv")
actors

The table has 50 rows, corresponding to the 50 top grossing actors. The table is already sorted by `Total Gross`, so it is easy to see that Harrison Ford is the highest grossing actor. In total, his movies have brought in more money at domestic box office than the movies of any other actor.

This table is organized into **columns**: one for each *category* of information collected:

You can also think about the table in terms of its **rows**. Each row represents all the information collected about a particular instance, which can be a person, location, action, or other unit. 

By default only the first ten rows are shown. You can count the total number of rows in the table

### 2a. Table Attributes <a id='subsection 2a'></a>

Every table has **attributes** that give information about the table, like the number of rows and the number of columns. Table attributes are accessed using the dot method. But, since an attribute doesn't perform an operation on the table, there are no parentheses (like there would be in a call expression).

Attributes you'll use frequently include `num_rows` and `num_columns`, which give the number of rows and columns in the table, respectively.

In [ ]:
# get the number of columns
actors.num_columns

In [ ]:
# get the number of rows in the table
actors.num_rows

### 2b. Scatter Plot </a>

Let's compare the "Number of Movies" against the "Total Gross". What could we see by comparing these two? If an actor is in more movies, what would expect to happen to their total gross (profit made in theaters)? We can graph this relationship using a scatter plot. 

The function to create a scatter plot is called `scatter(...)` and it takes a x-axis and y-axis as its inputs:
- `tbl.scatter(x-axis, y-axis)`

In [ ]:
actors.scatter('Number of Movies', 'Total Gross')

What **trend** do we see? 

The plot shows an *association* between the variables, and that the association is *positive*: high values of one variable tend to be associated with high values of the other, and low values of one with low values of the other, in general. 


*What does this mean for actors? Should actors be in more movies to make more money?*

### 2b. Outliers </a>

Let's test this by comparing how much on average each movie makes. We can compare them by making another scatter plot to compare the "Number of Movies" against "Average per Movie". (Recall: `tbl.scatter(x-axis, y-axis)`)

In [ ]:
actors.scatter('Number of Movies', 'Average per Movie')

Looking at the result what pattern do we notice? What stands out? What is a new conclusion we can make from this plot?

This is a very different picture and shows a *negative* association. In general, the more movies an actor has been in, the *less* the average receipt per movie.

Also, one of the points is quite high and off to the left of the plot. It corresponds to one actor who has a low number of movies and high average per movie. This point is an **outlier**. It lies outside the general range of the data. Indeed, it is quite far from all the other points in the plot.

Let's focus in on the large cluster of our data. To do this we will use filtering functions.

#### Filtering rows with `where`
Some analysis questions only deal with a subset of rows.

The **`where`** function allows us to choose certain rows based on two arguments:
- A column label
- A condition that each row should match, called the _predicate_ 

In other words, we call the `where` function like so: `table_name.where(column_name, predicate)`.

In [ ]:
no_outlier = actors.where('Number of Movies', are.above(10))
no_outlier

With the filtered data, we can make a new plot.

In [ ]:
no_outlier.scatter('Number of Movies', 'Average per Movie')

What pattern does this plot show?

The negative association is still clearly visible. Let's identify the actors corresponding to the points that lie on the right hand side of the plot where the number of movies is large:

In [ ]:
actors.where('Number of Movies', are.below(10))

Anthony Daniels' 7 movies had an astonishingly high average receipt of nearly $452$ million dollars per movie.

What were these movies? You might know about the droid C-3PO in Star Wars:
![C-3PO](C-3PO.jpeg)
That's [Anthony Daniels](https://en.wikipedia.org/wiki/Anthony_Daniels) inside the metallic suit. He plays C-3PO.

Mr. Daniels' entire filmography (apart from cameos) consists of movies in the high-grossing Star Wars franchise. That explains both his high average receipt and his low number of movies.

Variables such as genre and production budget have an effect on the association between the number of movies and the average receipt per movie. This example is a reminder that studying the association between two variables often involves understanding other related variables as well.

#### References

- Notebook adapted from Keeley Takimoto and Karla Palos.
- Sections of "Intro to Jupyter", "Table Transformation" adapted from materials by Kelly Chen and Ashley Chien in [UC Berkeley Data Science Modules core resources](http://github.com/ds-modules/core-resources)
- "A Note on Errors" subsection and "error" image adapted from materials by Chris Hench and Mariah Rogers for the Medieval Studies 250: Text Analysis for Graduate Medievalists [data science module](https://github.com/ds-modules/MEDST-250).
- Tables and Plots section adapted from Chapter 7: Visualization from [Foundations of Data Science class at UC Berkeley](https://www.inferentialthinking.com/chapters/intro.html) by Ani Adhikari and John DeNero.

Author: Ashley Quiterio